.project {
  header {
    height: 0;
    width: 100%;
    margin: 0 0 40px 0;
    padding: 45% 0 0 0;
    background: $gray;

    h1 {
      display: block;
      position: absolute;
      bottom: 30px;
      margin: 0;
    }
  }

  @include breakpoint($pc) {
    h2, aside {
      @include span(5);
    }

    div > {
      h3, h4, p, blockquote, .multi-column, ul {
        @include span(last 7);    
      }      
    }
  }

  blockquote {
    margin: 0.2em 0 0.7em 0;
  }

  img {
    width: 100%;
    margin-bottom: 16px;
  }

  .multi-column {
    @include breakpoint($tablet) {
      @include columns(2);
      @include column-gap(36px);
    }

    p, blockquote {
      width: auto;
      float: none;
    }
  }

  aside {
    margin-bottom: 40px;

    @include breakpoint($pc) {
      clear: left;

      p, blockquote {
        @include span(4 of 5);
      }
    }
  }

  section {
    margin: 0 0 2% 0;
  }

  section.blockquote {
    position: relative;
    background: $red;
    padding: 12% 10%;
    overflow: hidden;

    blockquote {
      display: block;
      position: relative;
      margin: 0;
      float: none;
      width: 100%;
      z-index: 10;
      color: $white;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}