.project#zomato {
  header {
    background: $gray image-url('/images/no-one/header-bg.jpg') no-repeat center center;
    background-size: 100% auto;
  }
}

.project#myntra {
  header {
    padding-top: 20%;
    background: $gray;
  }

  h2, blockquote, strong {
    color: $myntra-blue;
  }

  .gallery {
    background: $white;
  }

  .blockquote {
    background: $myntra-blue;

    blockquote {
      color: $white;
    }
  }
}

