.project#zomato {
  header {
    background: $gray image-url('/images/no-one/header-bg.jpg') no-repeat center center;
    background-size: 100% auto;
  }
}

.project#myntra {
  h2, blockquote, strong {
    color: $myntra-pink;
  }

  .gallery {
    background: $myntra-pink;
  }

}