.project#zomato {
  header {
    background: $gray image-url('/images/no-one/header-bg.jpg') no-repeat center center;
    background-size: 100% auto;
  }
}

.project#myntra {
  header {
    padding-top: 20%;
    background: $gray;
  }

  h2, blockquote, strong {
    color: $myntra-blue;
  }

  .gallery {
    background: $white;
  }

  .blockquote {
    background: $myntra-blue;

    blockquote {
      color: $white;
    }
  }
}

.project#groupon {
  header {
    padding-top: 20%;
  }
  
  h2, blockquote, blockquote li, strong {
    color: $groupon;
  }

  header, .blockquote, .gallery {
    background: $groupon;
  }

  .gallery{
    img {
      @include box-shadow(0 0 0 1px rgba($black, 0.1), 0 0 6px 0 rgba($black, 0.4));
    }
  }

  .blockquote {
    blockquote {
      color: $white;
    }
    
    img {
      left: 25%;
      top: -15%;
      width: auto;
      opacity: 0.15;
      @include rotate3d(20, 10, 40, 30deg);
    }
  }

  aside {
    p {
      color: $gray;
    }

    img {
      @include span(3 of 4);
    }
  }


}