.project#groupon {
  header {
    background: $gray image-url('/images/groupon/header.jpg') no-repeat center center;
    background-size: 100% auto;

    h1 {
      margin-left: 50%;
      span {
        color: $groupon;
        display: block;
        font-size: 50px;
      }

      color: $white;
      line-height: 0.9em;
      padding-bottom: 1em;
      font-size: 72px;
    }
  }
  
  h2, blockquote, blockquote li, strong {
    color: $groupon;
  }

  .blockquote, .gallery {
    background: $groupon;
  }

  .gallery{
    img {
      @include box-shadow(0 0 0 1px rgba($black, 0.1), 0 0 6px 0 rgba($black, 0.4));
    }
  }

  .blockquote {
    blockquote {
      color: $white;
    }
    
    img {
      left: 25%;
      top: -15%;
      width: auto;
      opacity: 0.15;
      @include rotate3d(20, 10, 40, 30deg);
    }
  }

  aside {
    p {
      color: $gray;
    }

    img {
      @include span(3 of 4);
    }
  }


}