---
title: Groupon Go mobile app
page_id: groupon
page_classes: project
---

<!-- <section class="gallery mobile">
  <ul>
    <li>
        <img src="/images/groupon/home-filters.jpeg" alt="">
    </li>
    <li>
        <img src="/images/groupon/product.jpeg" alt="">
    </li>
    <li>
        <img src="/images/groupon/add-card.jpeg" alt="">
    </li>
  </ul>
</section>
 -->

<header>
  <div class="container">
    <h1>
      <span>The creation of</span>
      Groupon Go
    </h1>
  </div>
</header>

<section>
  <div class="container">
<!--     <h3>The Creation of</h3>
    <h2>Groupon GO</h2> -->
    <p>Uncommon created a simple way for mobile users to find and enjoy great experiences around them.</p>

    <p>Known as the world's fastest growing business with a formidable presence in nearly 50 countries, Groupon is India's favourite daily deals service with the best local offers on apparel, fine dining, entertainment, wellness and travel on the web. So when Groupon India wanted to  reach its users with a whole new way to find deals on the move, we jumped at the chance to take a crack at it – fully aware that we would have to go beyond the brief to build something useful, usable and delightful.</p>
  </div>
</section>

<section class="blockquote">
  <img src="/images/groupon/gather-interest.png" class="large" />

  <blockquote>...when Groupon India wanted to  reach its users with a whole new way to find deals on the move, we jumped at the chance to take a crack at it – fully aware that we would have to go beyond the brief to build something useful, usable and delightful.</blockquote>
</section>

<section>
  <div class="container">
    <aside>
      <img src="/images/groupon/home.jpeg" alt="">  
      
      <p>...on mobile platforms, it is more important to present appealing deals rather than just offer the tools to find them. So we ditched the map, and focussed on building an intuitive app that did away with complicated procedures and underused features.
      </p>
    </aside>

    <p>Groupon's website offers a vast range of fresh bargains every day, and the obvious approach for the mobile app was to bring as much of the site's functionality as possible into a smaller viewport, with the core experience revolving around a map marked with deals around the city for users to explore. But we had to wonder if that was really how we ourselves would like to shop. </p>

    <p>Delving into Groupon's analytics and researching user behaviour, we understood that contextless maps do little to tempt users to buy things. So we decided to go back to the drawing board and answer a few important questions:</p>

    <ul>
      <li>What are Groupon users like?</li>
      <li>How do shoppers look for deals?</li>
      <li>What excites shoppers?</li>
      <li>How can we simplify the Groupon experience on a mobile device?</li>
    </ul>

    <p>We quickly realised that Groupon users have varied interests and look for deals that pertain to them – and that, on mobile platforms, it is more important to present appealing deals rather than just offer the tools to find them. So we ditched the map, and focussed on building an intuitive app that did away with complicated procedures and underused features. The result: Groupon Go.</p>

    <p>By working closely with the Groupon team to refine the vision for what this app needed to be, we developed a simple, beautiful solution that complemented the company's new business model for mobile: smaller transactions and higher value using location data for increased conversions.</p>

<!-- </section>

<section class="gallery mobile">
  <ul>
    <li>
        <img src="/images/groupon/home-filters.jpeg" alt="">
    </li>
    <li>
        <img src="/images/groupon/product.jpeg" alt="">
    </li>
    <li>
        <img src="/images/groupon/add-card.jpeg" alt="">
    </li>
  </ul>
</section>

<section>
  <div class="container">
 -->

    <p>Featuring a user flow that simplifies everything from onboarding to highlighting nearby deals, to making purchases and sharing them with friends, Groupon Go ushers in a streamlined user experience that everybody can get behind. Attractive and informative icons, legible typography and clean layouts not only help users get around the app with ease, but also allow deals – the real heroes – to take center stage and draw users in.</p>

    <p>Instead of prompting users to filter out deals they might avail of from an extensive list, the app only asks users to pick a few areas of interest and then takes care of the heavy lifting. By using the device's location data and actively learning about users' habits within the app, Groupon Go displays only those deals that users will care about at the time and place they launch the app — bringing them closer to experiences they will cherish.</p>

    <p>Our responsibilities:</p>

    <ul>
      <li>Product Conceptualisation</li>
      <li>UI</li>
      <li>UX</li>
    </ul>
  </div>
</section>