@include border-box-sizing;

$susy: (
  columns: 10,
  gutters: .25,
  gutter-position: outside,
  column-width: 100px,
  global-box-sizing: border-box
);

.container {
  @include container;
  position: relative;
  padding: 20px;
}

$phone: max-width 400px;
$tablet-small: 400px;
$tablet: 600px;
$pc: 800px;