@include border-box-sizing;

$susy: (
  columns: 10,
  gutters: 1/4,
  gutter-position: outside,
  column-width: 100px,
  global-box-sizing: border-box
);

.container {
  @include container;
  padding: 20px 0;
}