body {
  font: 16px/1.5 $serif;

  @media screen and (max-width: 700px) { font-size: 14px;}
}

h1, h2, h3, h4, h5, h6, p, ol, ul ,li {
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  font-family: $sans;
  color: $black;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 2em;
}

h2 {
  margin-top: 1.5em;
  font-size: 24px;
  font-weight: 800;
}

h3 {
  margin-top: 1em;
  font-size: 18px;
  font-weight: 800;
}

p,
li {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: $gray;
  
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ 
    font-weight: 400;
  }
}

p,
ul {
  margin-bottom: 0.5em;
}

strong,
.strong {
  font-weight: bold;
}

