$white: #fff;
$black: #000;
$gray-dark: lighten($black, 20%);
$gray: lighten($black, 40%);
$gray-light: lighten($black, 50%);
$gray-xlight: lighten($black, 75%);
$gray-xxlight: lighten($black, 90%);

$sans: "proxima-nova", "helvetica neue", helvetica, arial, sans-serif;
$serif: "garamond-premier-pro", "livory", garamond, serif;

$red: #a00;