---
title: Uncommon
page_id: home
---

<div class="container portfolio">
  <h1>Our Work</h1>
  <ol class="clients">
    <li>
      <h2>Myntra</h2>
      <h3>
        <span class="design">Design</span>
        <span class="dev">Android Development</span>
      </h3>
    </li>
    <li>
      <h2>VWO</h2>
      <h3>
        <span class="design">Design</span>
        <span class="web">Web</span>
      </h3>
    </li>
    <li>
      <h2>Grasshopper</h2>
      <h3>
        <span class="web">Web</span>
      </h3>
    </li>
    <li>
      <h2>Karnataka Learning Partnership</h2>
      <h3>
        <span class="design">Design</span>
        <span class="web">Web</span>
      </h3>
    </li>
    <li>
      <h2>Zomato</h2>
      <h3>
        <span class="manage">Product Management</span>
        <span class="design">Design</span>
      </h3>
    </li>
  </ol>
</div>
